/* Scale controls for high-DPI displays */
.leaflet-retina .leaflet-control {
    transform: scale(2);
    transform-origin: top left;
}

.leaflet-retina .leaflet-control-attribution, 
.leaflet-retina .leaflet-control-layers {
    transform: scale(2);
    transform-origin: bottom left;
}

.leaflet-popup-content {
    font-size: 16px;
}

.leaflet-popup-custom {
    max-width: none !important; /* Remove the max-width limit */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1200px;
    height: 80%;
}
  
textarea {
    width: 100%;
    height: 86%;
    margin-bottom: 10px;
}
  